<div class="container">
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="">Home</a></li>
</ol>
</div>
<div class="container">
<br>
<br>
<h2>This project is a client for the <a href="https://gh-hrk-app1.herokuapp.com/swagger-ui.html" target="_blank">HR RESTful API</a>.</h2>
<br>
<h3>Please browse the following subjects to get more info:</h3>
<br>
<ul>
    <li>
      <a routerLink="/countries">Countries</a>
    </li>
    <li>
      <a routerLink="/departments">Departments</a>
    </li>
    <li>
      <a routerLink="/employees">Employees</a>
    </li>
    <li>
      <a routerLink="/jobs">Jobs</a>
    </li>
    <li>
      <a routerLink="/locations">Locations</a>
    </li>
    <li>
      <a routerLink="/regions">Regions</a>
    </li>
  </ul>
</div>