<div class="container">
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="">Home</a></li>
  <li class="breadcrumb-item" active>{{ location }}</li>
</ol>
<table class="table">
  <thead>
    <tr>     
      <th scope="col">ID</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Salary</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employeesPage | paginate: { id: 'server', itemsPerPage: 10, currentPage: p, totalItems: total }">
      <td>{{employee.employeeId}}</td>
      <td>{{employee.firstName}}</td>    
      <td>{{employee.lastName}}</td>
      <td>{{employee.email}}</td> 
      <td>{{employee.salary}}</td>       
    </tr>
  </tbody>
</table>
<div>
    <div *ngIf="loading" > 
  		<strong>Loading data. Please wait ...</strong>	
	</div> 
	<div *ngIf="!loading" > 
		<pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
	</div> 	 
</div>
</div>