<div class="container">
  <nav class="navbar navbar-expand-sm bg-light">
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <b><a class="nav-link" href="/">Home</a></b>
    </li>
    <li class="nav-item">
      <b><a class="nav-link" routerLink="/countries">Countries</a></b> 
    </li>
    <li class="nav-item">
      <b><a class="nav-link" routerLink="/departments">Departments</a></b>
    </li>
    <li class="nav-item">
      <b><a class="nav-link" routerLink="/employees">Employees</a></b>
    </li>
    <li class="nav-item">
      <b><a class="nav-link" routerLink="/jobs">Jobs</a></b>
    </li>
    <li class="nav-item">
      <b><a class="nav-link" routerLink="/locations">Locations</a></b>
    </li>
    <li class="nav-item">
      <b><a class="nav-link" routerLink="/regions">Regions</a></b>
    </li>
  </ul>
</nav>
</div>


<router-outlet></router-outlet>